<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<true/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<true/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海淘</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<true/>
		<key>waterImageName</key>
		<string>homePage_channelHaiTao</string>
	</dict>
	<dict>
		<key>title</key>
		<string>资讯</string>
		<key>URLString</key>
		<string>v2/news/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelZiXun</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>众测</string>
		<key>URLString</key>
		<string>v2/pingce/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelZhongCe</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创</string>
		<key>URLString</key>
		<string>v2/yuanchuang/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelYuanChuang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v2/youhui/articles</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelGuoNei</string>
	</dict>
	<dict>
		<key>title</key>
		<string>话题</string>
		<key>URLString</key>
		<string>v2/wiki/topic_detail</string>
		<key>needChannelID</key>
		<false/>
		<key>waterImageName</key>
		<string>homePage_channelHuaTi</string>
	</dict>
</array>
</plist>
