<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>URLString</key>
		<string>v1/faxian/articles</string>
		<key>type</key>
		<string>faxian</string>
		<key>headerURLString</key>
		<string>v2/util/banner</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精选</string>
		<key>URLString</key>
		<string>v1/home/articles</string>
		<key>type</key>
		<string>haojia_jingxuan</string>
		<key>headerURLString</key>
		<string>v2/util/banner</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国内</string>
		<key>URLString</key>
		<string>v1/youhui/articles</string>
		<key>type</key>
		<string>haojia_youhui</string>
		<key>headerURLString</key>
		<string>v2/util/banner</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海淘</string>
		<key>URLString</key>
		<string>v1/haitao/articles</string>
		<key>type</key>
		<string>haojia_haitao</string>
		<key>headerURLString</key>
		<string>v2/util/banner</string>
	</dict>
</array>
</plist>
